{% block tools %}
    {% set label %}
        <svg class="ez-icon ez-icon--medium ez-icon--light">
            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#browse"></use>
        </svg>
    {% endset %}

    {{ form_widget(field.location.select_content, field.location.select_content.vars.attr | merge({
        'label': label,
        'label_html': true,
        'attr': {
            'data-udw-config': ez_udw_config('multiple', {}),
            'class': (field.location.select_content.vars.attr.class ?? '' ~ ' btn btn-sm btn-info location-selector-browse') | trim,
            'title': 'Sélectionner un emplacement'
        }
    })) }}
    {{ form_widget(field.location.location, {attr: {value: field.value.vars.value}}) }}

    <button type="button" title="Supprimer le paramètre" class="btn btn-sm btn-danger ibexa-settings-form-remove">
        <svg class="ez-icon ez-icon--medium ez-icon--light">
            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#trash"></use>
        </svg>
    </button>
{% endblock %}