{% block tools %}
    {% set label %}
        <svg class="ibexa-icon ibexa-icon--medium ibexa-icon--light">
            <use xlink:href="{{ ibexa_icon_path('browse') }}"></use>
        </svg>
    {% endset %}

    {{ form_widget(field.location.select_content, field.location.select_content.vars.attr | merge({
        'label': label,
        'label_html': true,
        'attr': {
            'data-udw-config': ibexa_udw_config('multiple', {}),
            'class': (field.location.select_content.vars.attr.class ?? '' ~ ' btn btn-sm btn-info location-selector-browse') | trim,
            'title': 'Sélectionner un emplacement'
        }
    })) }}
    {{ form_widget(field.location.location, {attr: {value: field.value.vars.value}}) }}

    <button type="button" title="Supprimer le paramètre" class="btn btn-sm btn-danger ibexa-settings-form-remove">
        <svg class="ibexa-icon ibexa-icon--medium ibexa-icon--light">
            <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
        </svg>
    </button>
{% endblock %}